CalleDataFactory/PartialArmTemplates/ArmTemplate_3_12_2021_16_39_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "CalleDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Task_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"description": "Framework development worker simulator.",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": {
								"value": "@pipeline().parameters.WaitTime",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Raise Errors or Not",
						"description": "Framework development worker simulator.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Wait1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.RaiseErrors,'true')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Call Fail Procedure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:10:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[FailProcedure]",
										"storedProcedureParameters": {
											"RaiseError": {
												"value": {
													"value": "@pipeline().parameters.RaiseErrors",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SupportDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raise Errors or Not",
								"dependencyConditions": [
									"Skipped",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ErrorErrorHandler",
								"type": "PipelineReference"
							},
							"waitOnCompletion": false,
							"parameters": {
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"RaiseErrors": {
						"type": "string"
					},
					"WaitTime": {
						"type": "string"
					},
					"TriggerTime": {
						"type": "string"
					}
				},
				"variables": {
					"runId": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Alt 2"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ErrorErrorHandler')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ErrorErrorHandler')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://management.azure.com/subscriptions/@{variables('sid')}/resourceGroups/@{variables('rg')}/providers/Microsoft.DataFactory/factories/@{pipeline().DataFactory}/pipelineruns/@{pipeline().parameters.runId}?api-version=2018-06-01",
								"type": "Expression"
							},
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.core.windows.net/"
							}
						}
					}
				],
				"parameters": {
					"runId": {
						"type": "string"
					}
				},
				"variables": {
					"rg": {
						"type": "String",
						"defaultValue": "CalleADF"
					},
					"sid": {
						"type": "String",
						"defaultValue": "41dbffdf-c52c-4c80-be57-e9da2439348a"
					}
				},
				"folder": {
					"name": "Alt 2"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}