pipeline/Parent.json
{
	"name": "Parent",
	"properties": {
		"activities": [
			{
				"name": "Set Child pipeline RunId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "runid",
					"value": {
						"value": "@activity('Execute Pipeline1').output.RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Task",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false
				}
			}
		],
		"variables": {
			"runid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}