pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger1",
					"method": "POST",
					"body": {
						"value": "@json(\nconcat('\n{\n    \"tenantId\": \"',variables('tenantId'),'\",\n    \"applicationId\": \"',variables('applicationId'),'\",\n    \"authenticationKey\": \"',variables('authenticationKey'),'\",\n    \"subscriptionId\": \"',variables('subscriptionId'),'\",\n    \"resourceGroup\": \"',variables('resourceGroup'),'\",\n\t\"factoryName\": \"',variables('factoryName'),'\",\n\t\"pipelineName\": \"',variables('pipelineName'),'\"\n}')\n)",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Azure Function1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tenantId",
					"value": "abc"
				}
			}
		],
		"variables": {
			"tenantId": {
				"type": "String",
				"defaultValue": "580a5de5-d69e-4245-885d-6339e2e76bc3"
			},
			"applicationId": {
				"type": "String",
				"defaultValue": "59482ffa-d978-4473-a197-1678c02484a6"
			},
			"authenticationKey": {
				"type": "String",
				"defaultValue": "9bd2fd1c-8832-4c71-b053-ecd8818dd259"
			},
			"subscriptionId": {
				"type": "String",
				"defaultValue": "41dbffdf-c52c-4c80-be57-e9da2439348a"
			},
			"resourceGroup": {
				"type": "String",
				"defaultValue": "CalleADF"
			},
			"factoryName": {
				"type": "String",
				"defaultValue": "CalleDataFactory"
			},
			"pipelineName": {
				"type": "String",
				"defaultValue": "pipeline1"
			}
		},
		"annotations": []
	}
}