pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Get ADF Pipeline Runs",
				"description": "Use the Azure Management API to return a list of data factory pipeline runs within the given time window.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroupName')}/providers/Microsoft.DataFactory/factories/@{pipeline().DataFactory}/queryPipelineRuns?api-version=2018-06-01",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n  \"lastUpdatedAfter\": \"@{adddays(utcnow(),int(variables('QueryRunDays')))}\",\n  \"lastUpdatedBefore\": \"@{utcnow()}\",\n  \"filters\": [\n    {\n      \"operand\": \"PipelineName\",\n      \"operator\": \"Equals\",\n      \"values\": [\n        \"@{pipeline().parameters.PipelineName}\"\n      ]\n    }\n  ]\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get ADF Pipeline Runs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get ADF Pipeline Runs').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().parameters.TriggerTime, pipeline().parameters.TriggerTime)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string",
				"defaultValue": "Task_copy1"
			},
			"TriggerTime": {
				"type": "string",
				"defaultValue": "2020-01-01"
			}
		},
		"variables": {
			"SubscriptionId": {
				"type": "String",
				"defaultValue": "41dbffdf-c52c-4c80-be57-e9da2439348a"
			},
			"ResourceGroupName": {
				"type": "String",
				"defaultValue": "CalleADF"
			},
			"QueryRunDays": {
				"type": "String",
				"defaultValue": "-7"
			}
		},
		"folder": {
			"name": "Alt 2"
		},
		"annotations": []
	}
}